Source: rt-tests
Section: misc
Priority: extra
Maintainer: Uwe Kleine-König <u.kleine-koenig@pengutronix.de>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.4.15), libnuma-dev (>= 2.0.3) [amd64 i386 ia64 mips mipsel powerpc]
Vcs-Browser: http://git.pengutronix.de/?p=ukl/rt-tests.git;
Vcs-Git: git://git.pengutronix.de/git/ukl/rt-tests.git

Package: rt-tests
Architecture: alpha amd64 armel i386 ia64 mips mipsel powerpc s390 sh4 sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, python,
 libnuma1 (>= 2.0.3) [amd64 i386 ia64 mips mipsel powerpc]
Conflicts: xenomai-runtime
Description: Test programs for rt kernels
 rt-tests contains a set of programs that test and measure various components
 of "realtime" kernel behavior, such as timer latency, signal latency and the
 functioning of priority-inheritance mutexes.
