#!/usr/bin/make -f

export prefix=/usr

ifneq (,$(findstring $(DEB_BUILD_ARCH), amd64 i386 ia64 mips mipsel powerpc))
export NUMA=1
endif

build: build-stamp
install: build install-stamp

build-stamp install-stamp:
	dh ${@:-stamp=}
	touch $@

binary-arch binary-indep: install
	dh $@

binary: binary-arch binary-indep

clean:
	dh $@

.PHONY: build clean install binary-indep binary-arch binary 
